<% provide(:title, "Contact") %>

<div class="container">
  <h1>Contact</h1>
  <p>
    Steve Kaplan: <a href="mailto:skaplan@brandeis.edu">skaplan@brandeis.edu</a><br>
    Viet Le: <a href="mailto:v">lttviet@brandeis.edu</a><br>
    Vladimir Susaya: <a href="mailto:vsusaya@brandeis.edu">vsusaya@brandeis.edu</a><br>
    Leifeng Zhou: <a href="mailto:lfzhou@brandeis.edu">lfzhou@brandeis.edu</a><br>
  </p>
</div>
