<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Event cancel notification, <%= @event.name %></h1>
    <p>
      The event <%= @event.name %> scheduled at <%= @event_time_occurrence %> has been cancelled.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>