<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have successfully signed up for <%= @event.name %> !</h1>
    <p>
      Event name: <%= @event.name %><br>
      Event time: <%= @event.time_occurrence %><br>
    </p>

  </body>
</html>