<style>
div#map_section {
    margin-left:  35%;
    padding: 4px ;

}
div#main_form {
    float: left;
    width: 35%;
    padding: 4px ;

}



div#radio1, div#radio2 {
    float: left;
    width: 15%;
    padding: 4px ;
  

}
div#label1, div#label2 {
    margin-left:  15%;
    padding: 4px ;

}

select#usertime_hourmin_4i{
    float: left;
    width: 20%;
    

}

select#usertime_hourmin_5i{
    width: 20%;
    

}

div#checkboxes {
    float: left;
    width: 15%;
    padding: 3px ;

}
div#checkboxes_labels {
    margin-left:  15%;
    padding: 3px ;
    
}


div#checkboxcol1 {
    float: left;
    width: 30%;

}
div#checkboxcol2 {
    float: left;
    width: 30%

}
div#checkboxcol3 {
    float: left;
    width: 30%

}



</style>


<div class="container">
<h1>New Event</h1>

<%= render 'form' %>

    <script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type='text/javascript'>

    var marker = null;
    var map = null;


    function markMe(latitude, longitude)
    {
        me_window = new google.maps.InfoWindow({
            content: "You are here",
            position: new google.maps.LatLng(latitude, longitude),
         });

        me_window.open(gMap);
    }

    //gets called by geolocation attempt with position of user
    function showPosition(position) {
           var str_loc = position.coords.latitude + ", " + position.coords.longitude;
           var loc = str_loc.split(", ");
           var latitude = loc[0]
           var longitude = loc[1]
           markMe(latitude, longitude)
    }



    $(function(){
        document.getElementById("event_latitude").style.visibility = "hidden";
        document.getElementById("event_longitude").style.visibility = "hidden";
        document.getElementById("event_location").style.visibility="hidden";

        var myOptions = {
            center: new google.maps.LatLng(42.3654347, -71.258595),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        gMap = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

        //find geolocation of user
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);

        } else {
            myDiv.innerHTML = "Geolocation is not supported by this browser.";
        }

        google.maps.event.addListener(gMap, 'click', function(event) {
            if (marker != null)
            {
              marker.setMap(null);
            }

            marker = new google.maps.Marker({
                position: event.latLng,
                map: gMap
            });
            document.getElementById("event_latitude").value = event.latLng.lat()
            document.getElementById("event_longitude").value = event.latLng.lng()


        });

    });



    </script>
</div>
