<div class="container">
<h1>New Event</h1>

<%= render 'form' %>

    <script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type='text/javascript'>

    var marker = null;
    var map = null;


    function markMe(latitude, longitude)
    {
       var temp_latlng = new google.maps.LatLng(latitude, longitude);
            me_marker = new google.maps.Marker({
                position: temp_latlng,
                map: gMap,
                title: "You are here!",
                icon: "<%= asset_path( 'TrackingDot.png' ) %>"
            });
    }

    //gets called by geolocation attempt with position of user
    function showPosition(position) {
           var str_loc = position.coords.latitude + ", " + position.coords.longitude;
           var loc = str_loc.split(", ");
           var latitude = loc[0]
           var longitude = loc[1]
           markMe(latitude, longitude)
    }



    $(function(){
        document.getElementById("event_latitude").style.visibility = "hidden";
        document.getElementById("event_longitude").style.visibility = "hidden";
        document.getElementById("event_location").style.visibility="hidden";

        var myOptions = {
            center: new google.maps.LatLng(42.3654347, -71.258595),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        gMap = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

        //find geolocation of user
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);

        } else {
            myDiv.innerHTML = "Geolocation is not supported by this browser.";
        }

        google.maps.event.addListener(gMap, 'click', function(event) {
            if (marker != null)
            {
              marker.setMap(null);
            }

            marker = new google.maps.Marker({
                position: event.latLng,
                map: gMap
            });
            document.getElementById("event_latitude").value = event.latLng.lat()
            document.getElementById("event_longitude").value = event.latLng.lng()


        });

    });



    </script>
</div>
