<!DOCTYPE html>
<html>
<head><script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <script>
          window.onload = function() {
            var myOptions = {
                center: new google.maps.LatLng(42.3654347, -71.258595),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            gMap = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
                myDiv.innerHTML = "Geolocation is not supported by this browser.";
            }

       }
       </script>
<style>
table {
    border: 1px solid black;
    position: fixed;
    top: 50px;
    width: 200px;
    left: 0px;
}
</style>
</head>
<body>
   <div id="map_canvas" style="position: absolute; top: 50px; right: 200px; width: 800px; height: 400px;">Hi</div>

<table>

  <tr>
    <th>Events</th>
  </tr>
  <% @events.each do |event| %>
  <tr>
    <td><%= event.name =></td>
</td>
  </tr>
  <% end %>
</table>

</body>
</html>