// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container {
  background-color: #FCFCFC;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: thin solid #D8D8D8;
}

.profile-container h1 {
  padding-bottom: 5px;
  border-bottom: thin solid #E7E8EA;
}

.profile-container input {
  margin-bottom: 10px;
}

.left-container {
}

.right-container {
  border-left: thin solid #E7E8EA;
}

.box1 {
  margin-bottom: 5px;
}

#box2 {
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 10px;
}