<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/">
        <i class="fa fa-home"></i>  <span class="light">Carpe Diem</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <% if logged_in? %>
        <li>
          <a href="/events/new">
            <button type="button" class="btn btn-primary">Create Event</button>
          </a>
        </li>
        <li>
          <a href="/events/">
            <button type="button" class="btn btn-default">Campus Events</button>
          </a>
        </li>
        <li>
          <%= link_to(current_user) do %>
            <button type="button" class="btn btn-info">Profile</button>
          <% end %>
        </li>
        <li>
          <a href="/logout" data-method="delete" rel="nofollow">
            <button type="button" class="btn btn-danger">Log out</button>
          </a>
        </li>

        <% else %>
          <li>
            <a class="page-scroll" href="/#page-top">Home</a>
          </li>
          <li>
            <a class="page-scroll" href="/#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="/#team">Our Team</a>
          </li>
          <li>
            <a class="page-scroll" href="/#contact">Contact Us</a>
          </li>

        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>